#editor {
    //nav部分
    .nav {
        z-index: 10000;
        margin-bottom: 20px;
        height: 60px;
        box-shadow: 6px 6px 8px rgb(180, 177, 177);
        position: relative;
        background-color: #2e323e;
    }
    //main部分
    .main {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        position: relative;
        height: 850px;
        .editor-container {

        height: 850px;
        .title {
            height: 100px;
            margin-bottom: 30px;
            position: relative;
            .el-input {
                width: 580px;
                position: absolute;
                left: 355px;
                top: 60px;
            }
            .el-select {
                width: 200px !important;
                position: absolute;
                left: 0px;
                top: -60px;
                .el-input {
                    width: 200px !important;
                }
            }
        }
        .editor-view {
            position: absolute;
            left: 355px;
        }
        .submit {
            margin-top: 10px;
            height: 60px;
            margin-left: auto;
            margin-right: auto;
            width: 1200px;
            border-top: 2px solid #eee;
            position: absolute;
            top: 790px;
            left: 355px;
            button {
                margin-top: 10px;
                position: absolute;
                left: 1080px;
                width:120px;
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
}
}
.el-select-dropdown {
    width: 200px;
}