#personalSetting {
    margin: 0 auto;
    width: 1903px;
    position: relative;

    .nav {
        z-index: 10000;
        margin-bottom: 20px;
        height: 60px;
        -webkit-box-shadow: 6px 6px 8px #b4b1b1;
        box-shadow: 6px 6px 8px #b4b1b1;
        position: relative;
    }

    .main {
        width: 1205px;
        height: 1100px;
        margin: 0 349px 30px 349px;
        position: relative;
        border: 2px solid #eee;

        .data-setting {
            padding-left: 35px;

            .data-setting-top {
                width: 100%;
                height: 30px;
                text-align: left;
                margin-top: 20px;
                color: #ccc;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;

                tbody {
                    display: table-row-group;
                    vertical-align: middle;
                    border-color: inherit;

                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;

                        td {
                            display: table-cell;
                            vertical-align: inherit;

                            h2 {
                                display: block;
                                font-size: 1.5em;
                                margin-block-start: 0.83em;
                                margin-block-end: 0.83em;
                                margin-inline-start: 0px;
                                margin-inline-end: 0px;
                            }
                        }
                    }
                }
                
                .submit {
                    margin-top: 40px;
                    
                }
                .title {
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    text-align: right;
                    vertical-align: top;
                    color: #666;
                    padding: 0 20px 0 0;
                    font-family: '微软雅黑';
                }

                .eBcon {
                    width: 568px;
                    margin: 0 0 30px;
                    text-align: left;
                }

                .accMail {
                    margin-bottom: 25px;
                    line-height: 29px;
                }

                .phone {
                    margin-bottom: 25px;
                    line-height: 29px;
                }

                .modify-phone {
                    position: absolute;
                    top: 817px;
                    left: 324px;
                }

                .modify-email {
                    position: absolute;
                    top: 730px;
                    left: 324px;
                }
                .el-dialog {
                    position: relative;
                    margin: 0 auto 50px;
                    border-radius: 2px;
                    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
                    box-shadow: 0 1px 3px rgba(0,0,0,.3);
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 24%;
                }
                .el-select-dropdown {
                    width: 140px;
                }
                .el-select .el-input {
                    width: 130px !important;
                }
                .qq {
                    width: 320px;
                    text-align: left;
                }

                .warning {
                    color: #999;
                    font-size: 14px;
                }

                .nickName {
                    width: 300px;
                    margin: 0 0 30px;

                }

                .tip {
                    color: #ccc;
                    font-size: 12px;
                    line-height: 20px;
                    margin: 5px 0 20px;
                    text-align: left;

                }

                .avatar {
                    width: 568px;
                    margin: 0 0 30px;

                    .imgbox {
                        float: left;
                        margin-bottom: 30px;

                    }

                    .infobox {

                        margin-left: 10px;
                        position: absolute;
                        top: 200px;
                        left: 335px;

                        .info {

                            color: #999;
                            font-size: 12px;
                        }

                        .modify-imgbox {

                            text-align: left;
                            margin-top: 20px;

                            button {
                                font-weight: 500;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        .count-setting {
            padding-left: 35px;
            .el-dialog {
                position: relative;
                margin: 0 auto 50px;
                border-radius: 2px;
                -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
                box-shadow: 0 1px 3px rgba(0,0,0,.3);
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 24%;
            }
            .el-select-dropdown {
                width: 140px;
            }
            .el-select .el-input {
                width: 130px !important;
            }
            .user-phone {
                text-align: left;
                margin-top: 30px;
                margin-bottom: 30px;
                .binding {
                    margin-left: 170px;
                    position: absolute;
                    top: 23px;
                    left: 160px;
                }
            }
            .user-email {
                text-align: left;
                margin-bottom: 30px;
                .binding {
                    margin-left: 170px;
                    position: absolute;
                    top: 73px;
                    left: 160px;
                }
            }
            .user-password {
                text-align: left;
                margin-bottom: 30px;
                .binding {
                    margin-left: 170px;
                    position: absolute;
                    top: 123px;
                    left: 160px;
                }
            }
            .account-binding {
                text-align: left;
                margin-bottom: 30px;
                .title {
                    text-align: left;
                    color: #666;
                    margin-right: 0px; 
                    font-family: '微软雅黑';
                }
            }
            .title {
                text-align: left;
                color: #666;
                margin-right: 90px;
                font-family: '微软雅黑';
            }
            .container {
                max-width: 100px;
            }
            .qq-binding,.wechat-binding,.github-binding {
                margin-left: 120px;
                margin-top: -25px;
                margin-bottom: 40px;
            }
            .qq-binding {
                .binding {
                    margin-left: 140px;
                    position: absolute;
                    top: 185px;
                }
            }
            .wechat-binding {
                .binding {
                    margin-left: 140px;
                    position: absolute;
                    top: 240px;
                }
            }
            .github-binding {
                .binding {
                    
                        margin-left: 140px;
                        position: absolute;
                        top: 300px;
                    
                }
            }
            img {
                width: 36px;
                height: 36px;
            }
            
        }
    }

    .b-10,
    .b-20,
    .b-30,
    .b-15,
    .b-40,
    .b-50,
    .b-70 {
        clear: both;
        height: 10px;
        overflow: hidden;
        display: block;
    }

    .f-sign {
        font-weight: bold;
        color: #cc3333;
        padding-right: 5px;
        vertical-align: middle;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        max-width: 178px;
        max-height: 178px;
        display: block;
    }

    .f-fl {
        float: left;
    }
}